body{
    background-image: linear-gradient (to right, rgb(29, 147, 220), rgb(17, 54, 71));
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(98, 52, 112);
}

.box{
    color:rgb(0, 0, 0);
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(209, 140, 223);
    padding: 15px;
    border-radius: 15px;
    width: 30%;
}

fieldset{
    border: 3px solid rgb(41, 5, 202);
}

legend{
    border: 1px solid rgb(73, 63, 161);
    padding: 10px;
    text-align: center;
    background-color: rgb(120, 90, 184);
    border-radius: 8px;
}

.inputBox{
    position: relative;
}

.inputUser{
    background: none;
    border: none;/*tirar a borda*/
    border-bottom: 1px solid rgb(3, 2, 2);
    outline: none;/*tirar a linha de fora do input*/
    color: black;
    font-size: 20px;
    width: 100%;/*comprimento da linha*/
    letter-spacing: 2px;/*espaço entre caracter do input*/
}